/* src/pages/Events.css */

.events {
    font-family: 'IBM Plex Sans Condensed', Arial, sans-serif;
}

.events-hero {
    background-size: cover;
    background-position: center;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-title {
    font-size: 3em;
    margin: 0;
    color: white;
}

.event-section {
    padding: 40px 20px;
}

.event-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.event-content.reverse {
    flex-direction: row-reverse;
}

.event-text {
    flex: 1;
    padding: 20px;
}

.event-text h2 {
    font-size: 2em;
    color: darkred;
    text-transform: uppercase;
}

.event-image {
    flex: 1;
    border-radius: 15px;
    max-width: 400px;
    height: auto;
    margin: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.event-image:hover {
    transform: scale(1.05); /* Grow image slightly on hover */
}