.aboutus-hero-title {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 130px;
    color: white;
    text-transform: uppercase;
}

.aboutus-subtitle {
    font-size: 36px;
    color: #FFD700FF;
    margin: 20px 0;
    text-transform: uppercase;
    font-style: italic;
}