.header {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;
    padding-left: 10px;
}

.hamburger-icon {
    display: none;
    background: none;
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the nav links */
    transition: max-height 0.3s ease-in-out;
}

.nav-links ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.login-link ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

.nav-links ul li,
.login-link ul li {
    display: inline;
}

.nav-links ul li a,
.login-link ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

.nav-links ul li a:hover,
.login-link ul li a:hover,
.nav-links ul li.active a, /* Highlight the active link */
.login-link ul li.active a { /* Highlight the active link */
    color: #FFD700FF;
}

.login-link {
    margin-left: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: block;
    position: absolute;
    right: 0;
    background-color: #2a2a2a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px;
    border-radius: 4px;
}

.dropdown-item {
    color: #fff; /* Make text white for all dropdown items */
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    background: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #000; /* Change text color to black on hover */
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide navigation links */
        max-height: 0; /* Collapse the nav links */
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 1;
        /*gap: 10px; !* Remove gaps between items *!*/
        padding: 10px;
    }

    .nav-links.visible {
        display: flex;
        max-height: 300px; /* Show the nav links */
    }

    .nav-links ul {
        display: block; /* Display list in block format */
        text-align: center;
    }

    .nav-links ul li {
        display: block; /* Make list items block elements */
        padding: 10px 0; /* Add padding to list items */
        width: 100%; /* Make items span full width */
    }

    .hamburger-icon {
        display: block; /* Show hamburger icon */
    }
}