body {
    font-family: 'Mohave', sans-serif;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    flex: 1;
}

.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}